.button{
  //display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-accent);
  color: var(--color-white);
  width: 13.55em;
  min-height: 2.5em;
  font-size: 1em;
  cursor: pointer;
  border-radius: .75em;
  transition: .3s all ease;
}

.button:hover{
  background-color: var(--color-black);
  transform: translateY(-3px);
  border: 1px #555555 solid;
}

.button.white{
  background-color: #FAFAFA;
  color: #222222;
  transition: .3s all ease;
}

.button.white:hover{
  background-color: #222222;
  color: #fafafa;
}