// Variables
$breakpoint-lg: 925px;
$breakpoint-md: 784px;
$breakpoint-sm: 595px;
$breakpoint-xs: 587px;

$shadow-color: rgba(192, 0, 255, 1);
$border-color: #9500C5;

$connection-primary-color: #6a11cb;
$connection-secondary-color: #2575fc;
$connection-text-color: #333;
$connection-line-color: rgba(106, 17, 203, 0.3);
$connection-white: #ffffff;

.main {
  &__head-info {
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
    margin: 1em 0 .5em 0;
  }

}