

// About section
.main__about {
  // Section layout
  &-section {
    display: flex;

    @media (max-width: 925px) {
      flex-direction: column;
      align-content: center;
      justify-content: center;
    }
  }

  // Image styling
  &-img {
    margin-top: -4em;
    margin-right: -5em;

    @media (max-width: 925px) {
      order: -1;
    }

    @media (max-width: 784px) {
      margin-top: -3em;
    }

    @media (max-width: 587px) {
      margin-top: -1em;
      margin-right: 0;
    }
  }

  // Typography
  & p {
    font-size: 1.5em;

    @media (max-width: 587px) {
      font-size: 1em;
    }
  }

  & h3 {
    text-align: center;
    font-size: clamp(2em, 10vw, 6.4em);
    white-space: nowrap;
    text-shadow: 4px 4px 4px var(--shadow-color);
  }

  // Handle list
  &-handle-list {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
  }

  // Text container
  &-text {
    max-width: 28.85em;
    border: 2px solid var(--border-color);
    border-radius: 15px;
    padding: 1.25em 0.75em;
    @media (max-width: 784px) {
      align-self: center;

    }
  }

  // Content layout
  &-content {
    display: flex;
    flex-direction: column;
    gap: 2em;

    @media (max-width: 925px) {
      flex-direction: row;
      justify-content: space-between;
    }

    @media (max-width: 784px) {
      flex-direction: column;

    }
  }
}